*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Inter Tight", sans-serif;
  /* color: #434455;
  background-color: #ffffff; */
}

a {
  text-decoration: none;
}

/* Це прибирає стандартні маркери та відступи. */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
button {
  cursor: pointer;
}

/* Використовується для приховування елементів з екрана */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  width: 100%; /* робить контейнер гнучким */
  min-width: 375px;
  padding: 0px 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0px 100px;
    display: flex;
    box-sizing: border-box; /* Ширина контейнера залишиться 1280px разом із padding */
    justify-content: space-between; /* Розташовує елементи по краях контейнера */
    align-items: center; /* Вирівнює по вертикалі */
  }
}

/* --------HEADER--------- */

.header {
  background-color: #576f35;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: 0 auto;
}
.header-logo-gren {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-icon-vector,
.header-icon-text {
  fill: #fbfbfb;
}
.header-logo {
  display: flex;
  align-items: center;
}

.header-icon-menu {
  display: block;
  fill: none;
  stroke: #fdfdfd;
}
.header-nav {
  display: none;
}
.header-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* MOBIL-MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #576f35;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 296px;
  padding-bottom: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.mobile-icon-close {
  fill: none;
  stroke: #fdfdfd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 232px;
}

.mobile-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #fbfbfb;

  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px 18px;
  width: 120px;
  height: 44px;
}
.mobile-nav-item:hover,
.mobile-nav-item:focus {
  background-color: #fbfbfb;
  color: #7a3145;
}
.mobile-shop {
  border-radius: 30px;
  padding: 16px 32px;
  width: 157px;
  height: 52px;

  background: #7a3145;
  border: none;

  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.mobile-shop:hover,
.mobile-shop:focus {
  background: #fdfdfd;
  color: #7a3145;
  outline: none;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 767px) {
  .mobile-menu,
  .mobile-menu.is-open {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 32px;
  }
  .header-icon-vector {
    width: 20px;
    height: 20px;
  }
  .header-icon-menu {
    width: 40px;
    height: 40px;
  }
  .header-icon-text {
    width: 188px;
    height: 17px;
  }
}

/* @media screen and (max-width: 767px) {
  .mobile-menu {
    width: 100%;
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
} */
/* @media screen and (min-width: 768px) {
  .mobile-menu {
    position: fixed; 
    width: 320px;
    right: -800px; 
    top: 0; 
    bottom: 0; 
    transition: transform 0.3s ease-in-out; 
  }
  .mobile-menu.is-open {
    transform: translateX(320px); 
  }
} */

@media screen and (min-width: 1280px) {
  .header-btn {
    display: none;
  }

  .header-container {
    padding-top: 32px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 8px;
    margin: 0 20px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #fdfdfd;

    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;
  }

  .header-link:hover {
    background: #d4bfc4;
    color: #7a3145;
  }

  .header-link:focus {
    background: #fbfbfb;
    color: #7a3145;
  }

  .header-shop {
    display: inline;
    border-radius: 30px;
    padding: 16px 32px;
    width: 157px;
    height: 52px;

    background: #7a3145;
    border: none;

    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }

  .header-shop:hover {
    background: #d4bfc4;
    color: #7a3145;
  }

  .header-shop:focus {
    background: #fdfdfd;
    color: #7a3145;
    outline: none;
  }
}
